* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0 0;
    border-bottom: 5px solid #979797;
    background-color: #e8e8e8;
}

.submenu {
    display: none;
    position: absolute;
    width: 150px;
    top: 122%;
    background-color: #fff;
}

.menu > li {
    float: left;
    list-style: none;
    padding: 8px 16px 8px 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.clear {
    clear: both;
}

.menu li:hover .submenu {
    display: block;
}

.menu li:hover {
    border-color: red;
}

.submenu li {
    display: block;
    padding: 6px;
}

.conteudo {
    display: grid;
    grid-template-columns: 70% 30%;
}

.noticia img {
    max-width: 100%;
}

.destaque .noticia a {
    display: flex;
    font-size: 2em;
}

.destaque .noticia img {
    margin-right: 10px;
}

section h2 {
    margin-top: 40px;
    margin-bottom: 15px;
}

aside {
    padding-left: 20px;
}

aside .noticia {
    margin-bottom: 24px;
}

.noticias {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 3.3%;
    row-gap: 8%;
}

@media screen and (max-width: 767px) {
    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .destaque .noticia a {
        display: block;
        font-size: 1.5em;
    }
    
    .destaque .noticia img {
        margin-right: 0;
    }

    .noticias {
        display: block;
    }

    .noticias .noticia {
        margin-bottom: 32px;
    }

    aside {
        padding-left: 0;
    }

    header div.container {
        flex-direction: column;
    }

    .submenu {
        display: block;
        position: relative;
        width: 150px;
    }

    .menu {
        display: none;
    }
    
    .menu > li {
        clear: both;
    }
    
    .submenu li {
        display: block;
        padding: 6px;
        background-color: #e8e8e8;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-bottom: 12px;
    }

    .botao-menu button {
        padding: 6px;
        background-color: #1b1b1b;
        color: #fff;
        border: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .botao-menu {
        display: none;
    }

    .destaque .noticia a {
        font-size: 1.5em;
    }

    .noticias {
        grid-template-columns: repeat(2, 48.35%);
    }
}

@media screen and (min-width: 1024px) {
    .botao-menu {
        display: none;
    }
}